<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="connection.driver_class">com.mysql.jdbc.Driver</property>
    <property name="connection.url">jdbc:mysql://localhost/satcar6</property>
    <property name="connection.username">root</property>
    <property name="connection.password">Hola1234$</property>
    <property name="dialect">org.hibernate.dialect.MySQL5Dialect</property>
    <property name="hibernate.show_sql">true</property>
    
    <mapping class="ordenestrabajo.presentacion.ClienteEntity" />
    <mapping class="ordenestrabajo.presentacion.LoginEntity" />
    <mapping class="ordenestrabajo.presentacion.ParteArribaCocheEntity" />
    <mapping class="ordenestrabajo.presentacion.ParteDelanteraCocheEntity" />
    <mapping class="ordenestrabajo.presentacion.ParteDerCocheEntity" />
    <mapping class="ordenestrabajo.presentacion.ParteIzqCocheEntity" />
    <mapping class="ordenestrabajo.presentacion.ParteTraseraCocheEntity" />
    <mapping class="ordenestrabajo.presentacion.ReparacionEntity" />


  </session-factory>
</hibernate-configuration>